<h1>Add a Child</h1>

<form action="<%= parents_children_path %>" method="post" class="pure-form pure-form-aligned">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <fieldset>
    <div class="field">
      <label for="child_first_name">First Name</label><br />
      <input type="text" name="child[first_name]" id="child_first_name" class="form-control">
    </div>

    <div class="field">
      <label for="child_last_name">Last Name</label><br />
      <input type="text" name="child[last_name]" id="child_last_name" class="form-control">
    </div>

    <div class="field">
      <label for="child_age">Age</label><br />
      <input type="number" name="child[age]" id="child_age" class="form-control">
    </div>

    <div class="field">
      <label for="child_food_allergies">Food Allergies</label><br />
      <input type="text" name="child[food_allergies]" id="child_food_allergies" class="form-control">
    </div>

    <div class="field">
      <label for="child_special_medical_needs">Special Medical Needs</label><br />
      <input type="text" name="child[special_medical_needs]" id="child_special_medical_needs" class="form-control">
    </div>

    <div class="field">
      <label for="child_emergency_contact">Emergency Contact</label><br />
      <input type="text" name="child[emergency_contact]" id="child_emergency_contact" class="form-control">
    </div>

    <div class="actions">
      <input type="submit" value="Add Child" class="pure-button pure-button-primary">
    </div>
  </fieldset>
</form>

<%= link_to 'Back to Dashboard', parents_dashboard_path, class: 'pure-button pure-button-secondary' %>

