<h2>Parent Sign Up </h2>

<form action="/parents" method="post" data-turbo="false" class="pure-form pure-form-aligned">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <fieldset>
    <div class="field">
      <label for="first_name">First Name</label><br />
      <input type="first_name" name="user[first_name]" id="first_name">
    </div>
    <div class="field">
      <label for="last_name">Last Name</label><br />
      <input type="last_name" name="user[last_name]" id="last_name">
    </div>
    <div class="field">
      <label for="user_email">Email</label><br />
      <input type="email" name="user[email]" id="user_email">
    </div>
    <div class="field">
      <label for="user_password">Password</label><br />
      <input type="password" name="user[password]" id="user_password">
    </div>
     <div class="field">
      <label for="password_confirmation">Password Confirmation</label><br />
      <input type="password" name="user[password_confirmation]" id="user_password_confirm">
    </div>
    <div class="actions">
      <input type="submit" value="Sign Up" class="pure-button pure-button-primary">
    </div>
  </fieldset>
</form>


<!-- Back Button -->
<div style="text-align: right; margin-top: 20px;">
  <%= link_to 'Back', children_ministry_path, class: 'pure-button pure-button-secondary' %>
</div>