      <div class="container">
    <section>
      <h2>Service Times</h2>

  <list>Sunday Service: 10:00 AM</list

    </section>
    <section>
      <h2>Get Involved</h2>
      <p>Encourage visitors to join your community and participate in various activities.</p>
    </section>
    <section>
      <h2>Contact Us</h2>
      <p>If you have any questions or inquiries, please feel free to reach out to us:</p>
      <ul>
        Email: jaye.engelhardt@protonmail.com</br>
        Phone: 555-123-4567</br>
        Address: 123 Church St, City, Country</br>
      </ul>
    </section>

