body {
  background-image: url(/church_check_in/app/assets/images/church.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}